<!DOCTYPE html>
<html>
    <head>
        <title>svrec</title>
        <link href="../assets/btcss/bt.css" rel='stylesheet' type='text/css' />
	    <link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Particles Login Form Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
    </head>
    <body>
    <div id="particles-js">
	<div class="w3ls-pos">
		<h1>REGISTER</h1>
		<div class="w3ls-login form">
			<form action="/login" method="post">
				<div class="agile-field-txt">
					<input required="" name="fullname" type="text" placeholder="Select Username"/> <br /> 
				</div>
				<div class="agile-field-txt">
					<input  class="input" name="rollnumber" type="text" placeholder="Enter Rollnumber"/><br/>
				</div>
                <div class="agile-field-txt">
                    <input  class="input" name="mobile" type="text" placeholder="Mobile Number"/><br/>
				</div>
                <div class="agile-field-txt">
                    <input  class="input" name="password" type="Password" placeholder="Password" required=""/><br/>
				</div>
				<div class="w3ls-bot">
					<input type="submit" value="REGISTER">
				</div>
				<div class=""></div>
				<p class="font-monospace"><strong class="input3">Already Have a account? </strong><a href="/extract">LOGIN</a></p>
				</div>
			</form>
		</div>
	</div>
	<script src='../assets/btjs/particles.min.js'></script>
	<script src="../assets/btjs/index.js"></script>
</div>
        
       
        
    </body>
</html>